nav a{
	font-size: 20px;
}
.jumbotron{
	padding: 100px 25px;
}
#mynavbar li a{
	background: #333;
	border: solid;
	border-width: 1px; 
}
img{
	border-radius: 50%;
	width: 260px;
	height: 260px;
	padding-left: 20px;
}
#intro{
	border-style: dotted;
	border-width: 1px;
	padding: 3%;
	padding-top: 5%;
}
.myintro{
	font-size: 18px; 
}
#about , #edu , #skill, #link {
	background: #f1f1f1;
	border-radius: 20px;
	padding: 40px 20px;
	margin-top: 10px;
	margin-bottom: 10px; 
}
#about h4, #skill h4{
	color: #b75f12;
}
#about h3, #edu h3, #skill h3, #link h3{
	text-align: center;
	color: #5e64a5;
}
footer{
	background: #222;
	color: #fff;
	padding: 20px;
}





